#editorconfig.org
root = true

[*]
indent_style = tabs
indent_size = 2
end_of_line = lf
chartset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false



# Max Line Length

# JS / CSS Naming Conventions
# Coding Guidelines (new lines, brackets etc.)

# JS Design Patterns (recommendations only)